<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <dllmap dll = "libcsfml-network-2" target = "libcsfml-network.so.2.4" os = "!windows" />
    <dllmap dll = "csfml-network-2" target = "libcsfml-network.so.2.4" os = "!windows" />
</configuration>